body {
  margin: 0;
  background-color: #fff;
}

.wrap{
  background-color: rgb(255, 255, 255);
  width: 1280px;
  height: 2871px;
  margin: 0 auto;
}


.main{
  height: 2871px;
  background-color: aqua;
  padding-top:5px;
}

.header {
  width: 100%;
  height: 215px;
}

.menuTop{
  display: flex;   
  width: 1280px;
  height: 48px;
  background-color: #ffffff;
  
}

.headerCenter{
  width: 1280px;
  height: 167px;
  background-color: rgb(255, 255, 255);
}

.searchBar {
  display: flex;
  align-items: center; 
  justify-content: space-between;
  width: 706px;
  height: 60px;
  margin: 0 auto;
  border: 1px solid #03C75A;
  border-radius: 40px;
  background-color: #fff;
  padding: 0 16px;
  box-sizing: border-box;
}

.searchBar:hover {
  box-shadow: 0px 3px 10px rgba(0,0,0,0.15);
}


.searchLogo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
}

.N {
  width: 45px;
  height: 43px;
}


.input {
  flex: 1;                    
  margin: 0 10px; 
  padding: 8px 10px;
  font-size: 20px;
  border: none;
  outline: none;
}

input::placeholder {
  color: #d7d7d7;
  opacity: 0; 
  transition: opacity 0.2s;
}
input:focus::placeholder {
  opacity: 1; 
}


.searchIcons {
  display: flex;
  align-items: center;
  gap: 10px; 
}

.icon {
  width: 50px;
  height: 40px;
  cursor: pointer;
  transition: transform 0.2s ease;
}



.LinkBox{
  width: 676px;
  height: 86px;
  background-color: #03C75A;

  margin-top: 10px;
  margin: 10px auto 0 auto;

  display: flex;
  align-items: center;
  justify-content: space-around; 
}

.eachLink{
  width: 76px;
  height: 86px;
  background-color: rgb(255, 255, 255);
  align-items: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.LinkImg{
  width: 43px;
  height: 40px;
}

.eachLink p {
  margin-top: 6px;
  color: #333;
  font-size: 14px;
  font-weight: 500;
}

.bodyleft{
  width: 830px;
  height: 2300px;
  background-color: #ffffff;
  border-radius: 10px;
}

.bodyright{
  width: 420px;
  border-radius: 20px;
  height: 2300px;
  background-color: rgb(255, 255, 255);
  
}

.newsTexts{
  color: gray;
}

.newsTexts:hover{
  cursor: pointer;
  text-decoration: underline;
  text-decoration-color: gray;
}





.login-btn:hover {
  background-color: #02b14a;
}

.login-links {
  font-size: 14px;
  text-align: center;
  gap: 7px;
}

.login-links a {
  color: #555;
  text-decoration: none;
}

.login-links a:hover {
  text-decoration: underline;
}

