body {
  margin: 0;
  background-color: #fff;
}

.wrap{
  background-color: rgb(255, 255, 255);
  width: 1280px;
  height: 2871px;
  margin: 0 auto;
}


.main{
  height: 2871px;
  background-color: aqua;
  padding-top:5px;
}

.LinkImg{
  width: 43px;
  height: 40px;
}

.eachLink p {
  margin-top: 6px;
  color: #333;
  font-size: 14px;
  font-weight: 500;
}


